*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #0e0d0d;
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
perspective: 700px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    margin: 0px 80px;
}
.Nav{
    position: relative;
    color: #d6d5d1;
}
.Nav .top{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: gray;
    border-bottom: 1px solid gray;
}
.Nav .top span i{
    margin-right: 5px;
    color: crimson;
}
.Nav .top .in{
    position: relative;
}
.Nav .top .in::after{
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% + 20px);
    top: -10px;
    left: -100px;
    background-color: gray;
}
.Nav .top .in::before{
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% + 20px);
    top: -10px;
    right: -100px;
    background-color: gray;
}
.Nav .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Nav .content img{
    width: 100px;
    height: auto;
}
.Nav .content .search{
    display: flex;
    gap: 20px;
    border: 1px solid gray;
    padding: 1rem 3.5rem 1rem 1rem;
    align-items: center;
    position: relative;
}
.Nav .content .search input{
    border: none;
    background-color: #0e0d0d;
    color: #9e1d20;
    outline: none;
    font-size: 22px;
}
.Nav .content .search .select label{

    color: white;
    font-size: 22px;
}
.Nav .content .search .select select{
    color: #ab2022;
    background-color: #0e0d0d;
    border-color: gray;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}
.Nav .content .search .select i{
    position: absolute;
    top: 0px;
    right: 0;
    box-sizing: content-box;
    width: 3.5rem;
    height: 100%;
    background-color: #9e1d20;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}
.Nav .content ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.Nav .content ul i{
    padding: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    transition: .3s;
}
.Nav .content ul i:hover{
    background-color: #9e1d20;
    color: white;
    border-color: transparent;
}
.Nav .links{
    position: absolute;
    width: 100%;
    background-color: black;
    padding: 1rem 3rem;
    color: white;
}
.Nav .links ul{
    display: flex;
    justify-content: space-between;
}

.Nav .links ul a{
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.Nav .links ul li {
    position: relative;
    padding: 6px;
}
.Nav .links ul li::before{
    position: absolute;
    content: '';
    top: 100%;
    left: -2px;
    height: 0%;
    width: 0%;
    border-color: #9e1d20;
    border-width: 2px 0;
    border-style: solid;
    transition: .2s;
}

.Nav .links ul li:hover::before{
    width: calc(100% + 4px);
}
.Nav .links ul li i{
    position: relative;
}
.Nav .links ul span{
    font-size: 22px;
}
.Nav .links ul span i::after{
    position: absolute;
    content: "0";
    bottom: 21px;
    right: 25px;
    color: white;
    background-color: rgb(158, 29, 32);
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 16px;
}
.list{
    position: relative;
}
.list .mga{
    position: absolute;
    flex-direction: column;
    background-color: black;
    bottom: -131px;
    width: 160px;
    left: -4px;
    padding: 0px 20px 10px 20px;
    z-index: 50;
    visibility: hidden;
    transition: .3s;
}
.list .mga li{
    letter-spacing: 2px;
    font-size: 20px;
}
.list:hover .mga{
    visibility: visible;
}

.Hero{
    height: 100vh;
    background-image: url(../photo/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 67px;
    position: relative;
    color: white;
    text-align: center;
}

.Hero::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);
    z-index: 1;
}
.Hero h2{
    color: white;
    position: relative;
    z-index: 2;
    padding: 1rem;
    font-size: 4rem;
}
.Hero h4{
    position: relative;
    z-index: 2;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 2px;
}
.Hero .image{
    margin: 60px auto;
    position: relative;
    text-align: center;
    z-index: 2;
    width: 90%;
    transform: 0.1s;
}

.Hero .image::after{
    position: absolute;
    content: '>';
    font: normal normal normal 14px;
    top: 400px;
    left: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
    transition: .6s;
}
.Hero .image::before{
    position: absolute;
    content: '<';
    font: normal normal normal 14px;
    top:  400px;
    right: 100%;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 50%;
    transition: .6s;
}
.Hero .image img{
    width: 500px;
    height: 500px;
    animation-name: vio;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.Hero:hover{
    .image img{
        animation-play-state:running;
    }
}
@keyframes vio{
    0%{
      height: 2px;
      width: 2px;
    }

    100%{
        height: 500px;
        width: 500px;
    }
}
.Sale{
  margin: 60px 0px;
  padding: 4rem 0px;
}
.Sale .image{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Sale .image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
    width: 100%;
  
}
.Sale .image .img{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}

.Sale .image .img:hover{
    transform: scale(1.3);
}
.Sale .image .img::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(0 0 0 / 40%);
    transition: 0.3s;
}
.Sale .image .img::before{
    position: absolute;
    content: 'special offer';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0%;
    text-align: center;
    color: transparent;
    background-color: rgb(0 0 0 / 64%);
    padding: 1rem 0px;
    font-weight: bold;
    border-radius: 0px;
    transition: 0.5s;
}
.Sale .image .img:hover::before{
    width: 100%;
    color: white;
}
.Sale .image .img:hover::after{
    width: 0%;
    height: 0%;
}

.category{
    margin: 60px 0px;
}

 .title{
    text-align: center;
    color: #9e1d20;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
 .title::after{
    position: absolute;
    content: '';
    height: 3px;
    background-color: #9e1d20;
    width: 50px;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .3s;
}
.title:hover::after{
    width: 120px;
}
.category .boxs{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}
.category .boxs .box{
    text-align: center;
    box-shadow: 0px 0px 14px 2px lightslategrey;
    padding: 1rem 2.5rem;
    position: relative;
}
.category .boxs .box:hover::before{
    visibility: visible;
}
.category .boxs .box::after{
    position: absolute;
    content: 'SALE';
    top: 6px;
    left: 6px;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #9e1d20;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category .boxs .box::before{
    position: absolute;
    content: "\f3ba";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    content: "\f3ba";
    font: normal normal normal 14px/1 FontAwesome;
    bottom: 3.6rem;
    right: 3rem;
    color: #9e1d20;
    font-size: 22px;
    font-weight: bold;
    animation-name: toright;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    visibility: hidden;
    transform: .3s;
}
@keyframes toright{
    0%{
        right: 3rem;
    }
    50%{
        right: 1.3rem;
    }
    100%{
        right: 3rem;
    }
}
.category .boxs .box img{
    width: 200px;
    height: 200px;
}
.category .boxs .box h3{
    margin: 20px 0px;
    font-size: 22px;
    font-weight: 800;
    color: #d6d5d1;
}
.category .boxs .box ul{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 10px;
}
.category .boxs .box ul li i{
    color:  #d6d5d1;
}
.category .boxs .box p{
    font-size: 20px;
    color: antiquewhite;
}
.category .boxs .box button{
    border: navajowhite;
    background-color: #9e1d20;
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 0px;
    transition: 0.3s;

}
.category .boxs .box button:hover{
    transform: scale(1.2 , 1.2);
}
.category .boxs .box .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category .boxs .box .foot i{
    color: #9e1d20;
}

.category .boxs .box span{
    color: #d6d5d1;
}
.spor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin: 60px 0px;
}
.garag{
 color: gray;
 position: relative;
 font-weight: 700;
}
.garag-spor::after{
    position: absolute;
    content: '';
    width: 300px;
    height: 3px;
    background-color: gray;
    left: 0;
    bottom: -12px;
}
.spor .box img{
    width: 100%;
    height: 300px;
}
.spor .box1{
    flex: 2;
    position: relative;
    height: 400px;
}
.spor .box1 img{
    height: 400px;
    width: 100%;
}
.spor .box1 .text{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    flex-direction: column;
    gap: 10px;
}
.spor .box1 .text h2{
 font-size: 3rem;
}
.spor .box1 .text button{
 border: none;
 background-color: #9e1d20;
 color: white;
 padding: 1rem 3rem;
 font-size: 1.5rem;
 cursor: pointer;
 font-weight: normal;
}
.spor .box2{
    flex: 1;
    height: 400px;
    transition: .3s;
}
.spor .box2:hover{
    transform: scale(1.1);
}
.spor .box3{
    flex: 1;
    height: 400px;
    transition: .3s;
}
.spor .box3:hover{
    transform: scale(1.1);
}
.spor.box p{
    font-size: 20px;
    margin: 10px 0px;
    color: #9e1d20;
}
.spor .box .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spor .box .foot span{
    color: gray;
    font-size: 22px;
    font-weight: bold;
    margin: 4px 0px;
    display: block;
}
.spor .box .foot button{
    background-color: #9e1d20;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
}
.spor .box ul{
    display: flex;
    align-items: center;
    gap: 5px;
}
.spor .box ul li i{
    color: #9e1d20;
}

.Delivery{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 60px 0px 120px;
}
.Delivery .box{
    text-align: center;
    background-image: url(../image/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: .5s;
}
.Delivery .box h2{
    margin-bottom: 10px;
    color: #9e1d20;
}
.Delivery .box p{
    color: gray;
}
.Delivery .box1{
    background-position: center 9px;
}
.Delivery .box1:hover{
    background-position: center -81px;
}
.Delivery .box2{
    background-position: center -181px;
}
.Delivery .box2:hover{
    background-position: center -271px;

}
.Delivery .box3{
    background-position: center -361px;
}
.Delivery .box3:hover{
    background-position: center -451px;

}
.Delivery .box4{
    background-position: center -545px;
}
.Delivery .box4:hover{
    background-position: center -635px;

}
.Delivery .box5{
    background-position: center -725px;
}
.Delivery .box5:hover{
    background-position: center -815px;

}
.Delivery .box h2{
    margin-top: 65px;
}
.Delivery .box2,
.Delivery .box3,
.Delivery .box4,
.Delivery .box5{
    position: relative;
}
.Delivery .box2::after,
.Delivery .box3::after,
.Delivery .box4::after,
.Delivery .box5::after{
    position: absolute;
    content: "";
    width: 1px;
    background-color: gray;
    height: 160px;
    top: 0;
    left: -15px;
}

.ProductS{
    margin: 60px 0px;
}
.ProductS .list{
    display: flex;
    text-align: center;
    width: 100%;
    margin: 50px 0px;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}
.ProductS .list li{
    color: gray;
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}
.ProductS .list li:hover{
    transform: translateY(-5px);
    text-shadow: 0px 0px 4px;
}
.ProductS .boxs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.ProductS .box {
    width: 23%;
    position: relative;
    height: 412px;
    transform-style: preserve-3d;
    transition: .3s;
}

.ProductS .box:hover{
        transform: rotateY(180deg);
}
.ProductS .box .front{
    position: absolute;
    width: 270px;
    height: 410px;
    z-index: 1;
    backface-visibility: hidden;
    background-color: black;
}
.ProductS .box .back{
    position: absolute;
    width: 270px;
    height: 410px;
    background-color: white;
    transform: rotateY(180deg);
    text-align: left;
    padding: 1rem;
}
.ProductS .box .back .rating{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
    align-items: center;
}
.ProductS .box .back .rating ul{
    display: flex;
    gap: 3px;
    align-items: center;
}
.ProductS .box .back .rating ul li{
    display: inline;
}
.ProductS .box .back .rating ul li i{
    color: gold;
    font-size: 15px;
}
.ProductS .box .back h4{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.ProductS .box .back .type{
    display: flex;
    gap: 10px;

}
.ProductS .box .back .type li{
    background-color: #ab2022;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.ProductS .box .back button{
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    background-color: #ab2022;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}
.ProductS .box .back .rating span{
    color: gray;
    font-size: 1rem;
    margin: 0px;
}
.ProductS .box img{
    max-width: 100%;
    height: 100%;
}
.ProductS .box .text{
    position: absolute;
    background-color: #00000073;
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    padding: 12px;
    color: white;
    align-items: center;
}
.ProductS .box span{
    color: white;
    font-weight: bold;
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
}
.ProductS .box ul li{
    color: gold;
}
.ProductS .box p{
    font-weight: bold;
    border: 1px solid white;
    padding: 5px;
    border-radius: 6px;
}
.section-under{
background: url(../photo/under.jpg);
background-attachment: fixed;
background-size: cover;
width: 100%;
height: 45vh;
top: 0%;
overflow: auto;
color: black;
}
.img1{
    margin: 5% auto;
    height:fit-content;
    width:300px;
    float: left;
    left: 20px;
    position: relative;
}

.img2
{
    margin-left: 40%;
    margin-top: 5% ;
    height: fit-content;
    width:300px;
    float: left;
    position: relative;

}
.section-under img{
    border-radius: 50%;
    float: left;
}
.section-under h1{
    display: inline;
    margin-left: 20px;
    color: crimson;
    line-height: 20px;
}
.section-under h2{
    display: inline;
    margin-left: 20px;
    color: #0e0d0d;
    line-height: 0px;
}
.section-under p{
 color: #d6d5d1;
}
.footer{
    text-align: center;
    padding: 3rem;
    background-color: #d6d5d1;
    height: 20rem;
    position: relative;
}
.footer .bottom{
    position: absolute;
    content: '';
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid;
    border-color: white transparent transparent transparent;
}
.footer .log{
    background: url(../photo/ali.jpg);
    background-size: cover;
    width: 10rem;
    height: 10rem;
    margin-bottom: 30px;
    margin-left: 50%;
    transform: translate(-50%,0);
}
.footer .log:hover{
    background: url(../photo/ali.hover.gif);
    background-size: cover;
    width: 10rem;
    height: 10rem;
    margin-bottom: 30px;
}
.footer p{
    margin-bottom: 10px;
    color: #4b4a4a;
    letter-spacing: 0px;
}
.footer .social{
    width: 100%;
    position: absolute;
    height: 2rem;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.footer .social span{
    cursor: pointer;
}